body{
    background-color: #f1f36a;
    color: blue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 50vh;
    letter-spacing: 0.2em;
}